.App{
  padding: 20px;
  display: flex;
  font-family: "Rubik", sans-serif;
  color: #78909C;
  align-items: center;
  justify-content: center;  
  height: 100vh;
  background: linear-gradient( 135deg, rgb(57, 210, 236), rgb(236, 61, 236) );
} 